<% include header.ejs %>
<link rel="stylesheet" href="./css/main.css">
                    <div class="container">
                        <h1 class="display-4 text-center">
                            Welcome to Our Survey engine
                            <hr>
                        <img style="margin: 0 auto; display:block; width: 100%;" src="home.jpg">                            
                        </h1>
                    </div>

    </html>